div#lst.clearfix
        div.formsteps.clearfix
            div.lst
                p.active Parteien
            div.lst
                p.notactive Vertragsgegenstand
            div.lst
                p.notactive Mietkonditionen
            div.lst
                p.notactive Rechte & Pflichten
            div.lst
                p.notactive Fertigstellen
        //div.dotted-line
        div#perc.clearfix
            div.perc
                img(src="assets/img/progress-indicator.png").prc
