extends tmpl/_header
block template
    //
        Template Name: Landing D

block body
    body
        img(class="preload", src!="<?php the_field('d_s1_bg'); ?>", style="display: none;")
        div.head.clearfix.hide-notmobile.fixedhead
            div.logo
                a(href!="<?php the_field('header_logo_link', 456); ?>")
                    img(src!="<?php the_field('header_logo', 456); ?>")
            | <?php if (is_user_logged_in()): ?>
            a(href!="<?php the_field('loggined_button_link', 456); ?>")
                button.return.signup.login <?php the_field('loggined_button_text', 456); ?>
            | <?php else: ?>
            a(href!="<?php the_field('mobile_button_link', 456); ?>")
                button.signup.login.Einloggen <?php the_field('mobile_button_text', 456); ?>
            | <?php endif; ?>
            div.phone.fixedphone
                a(href!="<?php the_field('phone_link', 456); ?>")
                    img(src!="<?php the_field('phone_icon', 456); ?>")
                    div#shadow
        div(style!="background-image: url(<?php the_field('d_s1_bg'); ?>)")#block1.background-d
            div.head.clearfix.hide-onmobile
                div.logo
                    a(href!="<?php the_field('header_logo_link', 456); ?>")
                        img(src!="<?php the_field('header_logo', 456); ?>")
                | <?php if (is_user_logged_in()): ?>
                a(href!="<?php the_field('loggined_button_link', 456); ?>")
                    button.return.signup.login <?php the_field('loggined_button_text', 456); ?>
                | <?php else: ?>
                a(href!="<?php the_field('second_button_link', 456); ?>")
                    button.signup.login <?php the_field('second_button_text', 456); ?>
                a(href!="<?php the_field('first_button_link', 456); ?>")
                    button.signup.whitehov <?php the_field('first_button_text', 456); ?>
                | <?php endif; ?>
                div.info
                    p.infotext <?php the_field('phone_number', 456); ?>
            div.cont.cont-d
                h1.mainheadline.mainheadline-d#h1 <?php the_field('d_s1_headline'); ?>
                h3.headline-d <?php the_field('d_s1_h3'); ?>
                p.p-d.hide-onmobile <?php the_field('d_s1_p'); ?>
                div.btndiv
                    a(href!="<?php the_field('d_s1_mid_button_link'); ?>")
                        button.btn-land.btn-land-b <?php the_field('d_s1_mid_button_text'); ?>
        div#block2.block2-d
            div.content.clearfix.padbot.padbot-b
                div.lefttext.lefttext-d
                    h2.headline2.nomarg.marg-b <?php the_field('d_s2_headline'); ?>
                    p.padtwony.p2.nopad.b2-font_d <?php the_field('d_s2_p1'); ?>
                    p.padtwony.p2.nopad.b2-font_d <?php the_field('d_s2_p2'); ?>
                    p.padtwony.p2.nopad.moblastp.b2-font_d <?php the_field('d_s2_p3'); ?>
                div.pict.pict-b.pict-d
                    img(src!="<?php the_field('d_s2_image'); ?>").building
        div(style!="background-image: url(<?php the_field('d_s3_bg'); ?>)")#block3.landing_d
            div.content.clearfix
                div.backgroundgradient.block2-gradient-b
                h3.headline2.h2white <?php the_field('d_s3_headline'); ?>
                div.block.blockpad-b.hide-onmobile
                    div.clearfix
                        div.quater
                            div.circle 1
                        div.quater
                            div.circle 2
                        div.quater
                            div.circle 3
                        div.quater
                            div.circle 4
                        div.line
                    div.clearfix.stepspad
                        div.steps
                            h3.stepsheadline.stepshead-b <?php the_field('d_s3_step1'); ?>
                        div.steps
                            h3.stepsheadline.stepshead-b <?php the_field('d_s3_step2'); ?>
                        div.steps
                            h3.stepsheadline.stepshead-b <?php the_field('d_s3_step3'); ?>
                        div.steps
                            h3.stepsheadline.stepshead-b <?php the_field('d_s3_step4'); ?>
                div.block.hide-notmobile
                    div.steps
                        div.quater
                            div.circle.circle-b 1
                        div.quater
                            div.circle.circle-b 2
                        div.quater
                            div.circle.circle-b 3
                        div.quater
                            div.circle.circle-b 4
                    div.vertline.vertline-b
                    div.stepstext.stepstext-b
                        div.quater
                            h3.stepsheadline.quat.quat-d <?php the_field('d_s3_step1'); ?>
                        div.quater
                            h3.stepsheadline.quat.quat-d <?php the_field('d_s3_step2'); ?>
                        div.quater
                            h3.stepsheadline.quat.quat-d <?php the_field('d_s3_step3'); ?>
                        div.quater
                            h3.stepsheadline.quat.quat-d <?php the_field('d_s3_step4'); ?>
        div#block4.block4-b
            div.content
                h3.headline2.letspace <?php the_field('d_s4_headline'); ?>
                div.contain.contain-b.hide-onmobile
                    div.row.imgmax
                        div.custom1
                            img(src!="<?php the_field('d_s4_image_1'); ?>")#img1
                        div.custom1
                            img(src!="<?php the_field('d_s4_image_2'); ?>")#img2.img2-d
                        div.custom1
                            img(src!="<?php the_field('d_s4_image_3'); ?>")#img3.img3-d
                    div.row.imgmax.padthirty.padthirty-b
                        div.custom1
                            h4.stepsheadline.dark.textwidth.firsth4.firsth4-b.customlineheight.b4-h4-d <?php the_field('d_s4_head_for_image_1'); ?>
                            p.padtwony.p2.p3.notbold.textwidth.textwidth-b#1stp.customlineheight.p-line <?php the_field('d_s4_text_for_image_1'); ?>
                        div.custom1
                            h4.stepsheadline.dark.textwidth.second-h4.customlineheight.b4-h4-d <?php the_field('d_s4_head_for_image_2'); ?>
                            p.padtwony.p2.p3.textwidth.textwidth-b.customlineheight.p-line <?php the_field('d_s4_text_1_for_image_2'); ?>
                            p.padtwony.p2.p3.textwidth.textwidth-b.customlineheight.p-line <?php the_field('d_s4_text_2_for_image_2'); ?>
                        div.custom1
                            h4.stepsheadline.dark.textwidth.customlineheight.b4-h4-d <?php the_field('d_s4_head_for_image_3'); ?>
                            p.padtwony.p2.p3.textwidth.textwidth-b.customlineheight.p-line <?php the_field('d_s4_text_1_for_image_3'); ?>
                            p.padtwony.p2.p3.textwidth.textwidth-b.customlineheight.p-line <?php the_field('d_s4_text_2_for_image_3'); ?>
                div.contain.hide-notmobile
                        div.custom1
                            img(src!="<?php the_field('d_s4_image_1'); ?>").img1
                            h4.stepsheadline.dark.textwidth <?php the_field('d_s4_head_for_image_1'); ?>
                            p.padtwony.p2.p3.notbold.textwidth.firstmobp <?php the_field('d_s4_text_for_image_1');  ?>
                        div.custom1
                            img(src!="<?php the_field('d_s4_image_2'); ?>").img3
                            h4.stepsheadline.dark.textwidth <?php the_field('d_s4_head_for_image_2'); ?>
                            p.padtwony.p2.p3.textwidth.third-mobile-p <?php the_field('d_s4_text_1_for_image_2'); the_field('d_s4_text_2_for_image_2'); ?>
                        div.custom1
                            img(src!="<?php the_field('d_s4_image_3'); ?>").img5
                            h4.stepsheadline.dark.textwidth <?php the_field('d_s4_head_for_image_3'); ?>
                            p.padtwony.p2.p3.textwidth <?php the_field('d_s4_text_1_for_image_3'); the_field('d_s4_text_2_for_image_3'); ?>
        div(style!="background-image: url(<?php the_field('d_s5_bg'); ?>)")#block5.block5-bg.block5-d
            div.content
                div.s8-bg-gradient-sect5.bg-position
                p.p-d.p-d2.block5headline <?php the_field('d_s5_text'); ?>
                div.btndiv.btndivlesspad.pad-b
                    a(href="/contacts")
                        button.btn-land.btn-b.btn-b-b <?php the_field('d_s5_button_text'); ?>
        div#section7.sect7
            div#say.say-d.
                <?php the_field('d_s6_text'); ?>
            div#sign <?php the_field('d_s6_text_sign'); ?>
        div#section6.sect6
            input#immobilienubersicht.slider-radio(type="radio", name="slider-page", checked="checked")
            input#kommunikation-mit-mietern.slider-radio(type="radio", name="slider-page")
            input#dokumentenverwaltung.slider-radio(type="radio", name="slider-page")
            input#dienstleistungen-buchen.slider-radio(type="radio", name="slider-page")
            //div#slider-links
            //    label#immobilienubersicht.link(for="immobilienubersicht") Immobilienübersicht
            //    label#kommunikation-mit-mietern.link(for="kommunikation-mit-mietern") Kommunikation mit Mietern
            //    label#dokumentenverwaltung.link(for="dokumentenverwaltung") Dokumentenverwaltung
            //    label#dienstleistungen-buchen.link(for="dienstleistungen-buchen") Dienstleistungen buchen
            //div#slider-arrows
            //    div#backward
            //        label#immobilienubersicht(for="immobilienubersicht") &#x276E;
            //        label#kommunikation-mit-mietern(for="kommunikation-mit-mietern") &#x276E;
            //        label#dokumentenverwaltung(for="dokumentenverwaltung") &#x276E;
            //        label#dienstleistungen-buchen(for="dienstleistungen-buchen") &#x276E;
            //    div#forward
            //        label#immobilienubersicht(for="immobilienubersicht") &#x276F;
            //        label#kommunikation-mit-mietern(for="kommunikation-mit-mietern") &#x276F;
            //        label#dokumentenverwaltung(for="dokumentenverwaltung") &#x276F;
            //        label#dienstleistungen-buchen(for="dienstleistungen-buchen") &#x276F;
            div#slider-content.slider-cont-b
                div#slider-header.header-b <?php the_field('d_s7_headline'); ?>
                div#slider-page.page-b.pageheight-b
                    div#immobilienubersicht
                        p.padtwelve.
                            <?php the_field('d_s7_p1'); ?>
                        p.padtwelve.
                            <?php the_field('d_s7_p2'); ?>
                        p.padtwelve.
                            <?php the_field('d_s7_p3'); ?>
                        p.padtwelve.bold.
                            <?php the_field('d_s7_p4'); ?>
                        div#kommunikation-mit-mietern
                    div#dokumentenverwaltung
                    div#dienstleistungen-buchen
                //div#slider-buttons
                    //label#immobilienubersicht(for="immobilienubersicht")
                    //label#kommunikation-mit-mietern(for="kommunikation-mit-mietern")
                    //label#dokumentenverwaltung(for="dokumentenverwaltung")
                    //label#dienstleistungen-buchen(for="dienstleistungen-buchen")
            div#slider-image.slider-b
                #tablet
                    #image-placeholder
                        img#immobilienubersicht(src!="<?php the_field('d_s7_slide'); ?>")
                        img#kommunikation-mit-mietern
                        img#dokumentenverwaltung
                        img#dienstleistungen-buchen
        div(style!="background-image: url(<?php the_field('d_s8_bg');?>); background-size: 1280px 101%;")#section8.sect8
            div#background.block8-bg
                div.s8-bg-gradient.s8-bg-gradient-sect8-d
                    div.wrapper.wrapper-b
                        div#line.line-b <?php the_field('d_s8_text'); ?>
                        label
                            button
                            a(href!="<?php the_field('d_s8_button_link'); ?>")
                                div.button.button-d <?php the_field('d_s8_button_text'); ?>
        include tmpl/_footer