extends tmpl/_header
block template
    //
        Template Name: Landing C

block body
    body
        img(class="preload", src!="<?php the_field('c_section1_background'); ?>", style="display: none;")
        div.head.clearfix.hide-notmobile.fixedhead
            div.logo
                a(href!="<?php the_field('header_logo_link', 456); ?>")
                    img(src!="<?php the_field('header_logo', 456); ?>")
            | <?php if (is_user_logged_in()): ?>
            a(href!="<?php the_field('loggined_button_link', 456); ?>")
                button.return.signup.login <?php the_field('loggined_button_text', 456); ?>
            | <?php else: ?>
            a(href!="<?php the_field('mobile_button_link', 456); ?>")
                button.signup.login.Einloggen <?php the_field('mobile_button_text', 456); ?>
            | <?php endif; ?>
            div.phone.fixedphone
                a(href!="<?php the_field('phone_link', 456); ?>")
                    img(src!="<?php the_field('phone_icon', 456); ?>")
                    div#shadow
        div#block1.background-b(style!="background-image: url(<?php the_field('c_section1_background'); ?>) !important;")
            div.head.clearfix.hide-onmobile
                div.logo
                    a(href!="<?php the_field('header_logo_link', 456); ?>")
                        img(src!="<?php the_field('header_logo', 456); ?>")
                | <?php if (is_user_logged_in()): ?>
                a(href!="<?php the_field('loggined_button_link', 456); ?>")
                    button.return.signup.login Portal
                | <?php else: ?>
                a(href!="<?php the_field('second_button_link', 456); ?>")
                    button.signup.login <?php the_field('second_button_text', 456); ?>
                a(href!="<?php the_field('first_button_link', 456); ?>")
                    button.signup.whitehov <?php the_field('first_button_text', 456); ?>
                | <?php endif; ?>
                div.info
                    p.infotext <?php the_field('phone_number', 456); ?>
            div.cont.cont-b
                h1.mainheadline#h1 <?php the_field('C_section1_header'); ?>
                h3.headline#h3 <?php the_field('C_section1_text1'); ?>
                p.headline.p1.p-b.hide-onmobile <?php the_field('C_section1_text2'); ?>
                div.btndiv
                    a(href!="<?php the_field('c_section1_button_link'); ?>")
                        button.btn-land <?php the_field('C_section1_button'); ?>
        div#block2.block2-b
            div.content.clearfix.padbot.padbot-b
                div.lefttext
                    h2.headline2.nomarg.marg-b <?php the_field('c_section2_header'); ?>
                    p.padtwony.p2.nopad <?php the_field('c_section2_paragraph1'); ?>
                    p.padtwony.p2.nopad#padp <?php the_field('c_section2_paragraph2'); ?>
                div.pict
                    img(src!="<?php the_field('c_section2_image'); ?>").building.img-b
                    //img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/illu-1.png").building.hide-notmobile.mobimg
        div#block3.landing_b(style!="background-image: url(<?php the_field('c_section3_background'); ?>) !important;")
            div.content.clearfix
                div.backgroundgradient.block2-gradient-b
                h3.headline2.h2white <?php the_field('c_section3_header'); ?>
                div.block.blockpad-b.hide-onmobile
                    div.quater
                        div.circle 1
                    div.quater
                        div.circle 2
                    div.quater
                        div.circle 3
                    div.quater.docimg
                        img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/doc+galka.png")
                    div.line
                    div.steps
                        h3.stepsheadline.stepshead-b <?php the_field('c_section3_1'); ?>
                    div.steps
                        h3.stepsheadline.stepshead-b <?php the_field('c_section3_2'); ?>
                    div.steps
                        h3.stepsheadline.stepshead-b <?php the_field('c_section3_3'); ?>
                    div.steps
                        h3.stepsheadline.stepshead-b <?php the_field('c_section3_4'); ?>
                div.block.hide-notmobile
                    div.steps
                        div.quater
                            div.circle.circle-b 1
                        div.quater
                            div.circle.circle-b 2
                        div.quater
                            div.circle.circle-b 3
                        div.quater.docimg
                            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/doc+galka.png")
                    div.vertline.vertline-b
                    div.stepstext.stepstext-b
                        div.quater
                            h3.stepsheadline.quat.quat-b <?php the_field('c_section3_1'); ?>
                        div.quater
                            h3.stepsheadline.quat.quat-b <?php the_field('c_section3_2'); ?>
                        div.quater
                            h3.stepsheadline.quat.quat-b <?php the_field('c_section3_3'); ?>
                        div.quater
                            h3.stepsheadline.quat.quat-b <?php the_field('c_section3_4'); ?>
        div#block4.block4-b
            div.content
                h3.headline2.letspace <?php the_field('c_section4_header'); ?>
                div.contain.contain-b.hide-onmobile
                    div.row.imgmax
                        div.custom1
                            img(src!="<?php the_field('c_section4_column1_image'); ?>")#img1
                        div.custom1
                            img(src!="<?php the_field('c_section4_column2_image'); ?>")#img2.img2-b
                        div.custom1
                            img(src!="<?php the_field('c_section4_column3_image'); ?>")#img3
                    div.row.imgmax.padthirty.padthirty-b
                        div.custom1
                            h4.stepsheadline.dark.textwidth.firsth4.firsth4-b.customlineheight <?php the_field('c_section4_column1_header'); ?>
                            p.padtwony.p2.p3.notbold.textwidth.textwidth-b#1stp.customlineheight.p-line <?php the_field('c_section4_column1_text'); ?>
                        div.custom1
                            h4.stepsheadline.dark.textwidth.second-h4.customlineheight <?php the_field('c_section4_column2_header'); ?>
                            p.padtwony.p2.p3.textwidth.textwidth-b.customlineheight.p-line <?php the_field('c_section4_column2_text'); ?>
                        div.custom1
                            h4.stepsheadline.dark.textwidth.customlineheight <?php the_field('c_section4_column3_header'); ?>
                            p.padtwony.p2.p3.textwidth.textwidth-b.customlineheight.p-line <?php the_field('c_section4_column3_text'); ?>
                div.contain.hide-notmobile
                    div.custom1
                        img(src!="<?php the_field('c_section4_column1_image'); ?>").img1
                        h4.stepsheadline.dark.textwidth <?php the_field('c_section4_column1_header'); ?>
                        p.padtwony.p2.p3.notbold.textwidth.firstmobp <?php the_field('c_section4_column1_text'); ?>
                    div.custom1
                        img(src!="<?php the_field('c_section4_column2_image'); ?>").img3
                        h4.stepsheadline.dark.textwidth <?php the_field('c_section4_column2_header'); ?>
                        p.padtwony.p2.p3.textwidth.third-mobile-p <?php the_field('c_section4_column2_text'); ?>
                    div.custom1
                        img(src!="<?php the_field('c_section4_column3_image'); ?>").img5
                        h4.stepsheadline.dark.textwidth <?php the_field('c_section4_column3_header'); ?>
                        p.padtwony.p2.p3.textwidth <?php the_field('c_section4_column3_text'); ?>
        div#block5(style!="background-image: url(<?php the_field('c_section5_background'); ?>);")
            div.content
                div.backgroundgradient2
                p.headline.p1.p1-b.block5headline <?php the_field('c_section5_text'); ?>
                div.btndiv.btndivlesspad.pad-b
                    a(href!="<?php the_field('c_section5_button_link'); ?>")
                        button.btn-land.btn-b.btn-b-b <?php the_field('c_section5_button'); ?>
        div#section7.sect7
            div#say.
                <?php the_field('c_section6_text'); ?>
            div#sign <?php the_field('c_section6_name'); ?>
        div#section6.sect6
            input#immobilienubersicht.slider-radio(type="radio", name="slider-page", checked="checked")
            input#kommunikation-mit-mietern.slider-radio(type="radio", name="slider-page")
            input#dokumentenverwaltung.slider-radio(type="radio", name="slider-page")
            input#dienstleistungen-buchen.slider-radio(type="radio", name="slider-page")
            //div#slider-links
            //    label#immobilienubersicht.link(for="immobilienubersicht") Immobilienübersicht
            //    label#kommunikation-mit-mietern.link(for="kommunikation-mit-mietern") Kommunikation mit Mietern
            //    label#dokumentenverwaltung.link(for="dokumentenverwaltung") Dokumentenverwaltung
            //    label#dienstleistungen-buchen.link(for="dienstleistungen-buchen") Dienstleistungen buchen
            //div#slider-arrows
            //    div#backward
            //        label#immobilienubersicht(for="immobilienubersicht") &#x276E;
            //        label#kommunikation-mit-mietern(for="kommunikation-mit-mietern") &#x276E;
            //        label#dokumentenverwaltung(for="dokumentenverwaltung") &#x276E;
            //        label#dienstleistungen-buchen(for="dienstleistungen-buchen") &#x276E;
            //    div#forward
            //        label#immobilienubersicht(for="immobilienubersicht") &#x276F;
            //        label#kommunikation-mit-mietern(for="kommunikation-mit-mietern") &#x276F;
            //        label#dokumentenverwaltung(for="dokumentenverwaltung") &#x276F;
            //        label#dienstleistungen-buchen(for="dienstleistungen-buchen") &#x276F;
            div#slider-content.slider-cont-b
                div#slider-header.header-b <?php the_field('c_section7_header'); ?>
                div#slider-page.page-b.pageheight-b
                    div#immobilienubersicht
                        p.padtwelve.
                            <?php the_field('c_section7_paragraph1'); ?>
                        p.padtwelve.
                            <?php the_field('c_section7_paragraph2'); ?>
                        p.padtwelve.
                            <?php the_field('c_section7_paragraph3'); ?>
                        p.padtwelve.bold.
                            <?php the_field('c_section7_endline'); ?>
                    div#kommunikation-mit-mietern
                    div#dokumentenverwaltung
                    div#dienstleistungen-buchen
                //div#slider-buttons
                    //label#immobilienubersicht(for="immobilienubersicht")
                    //label#kommunikation-mit-mietern(for="kommunikation-mit-mietern")
                    //label#dokumentenverwaltung(for="dokumentenverwaltung")
                    //label#dienstleistungen-buchen(for="dienstleistungen-buchen")
            div#slider-image.slider-b
                #tablet
                    #image-placeholder
                        img#immobilienubersicht(src!="<?php the_field('c_section7_slider_image'); ?>")
                        img#kommunikation-mit-mietern
                        img#dokumentenverwaltung
                        img#dienstleistungen-buchen
        div#section8.sect8
            div#background(style!="background-image: url(<?php the_field('c_section8_background'); ?>) !important;")
                div#background-gradient
                    div.wrapper.wrapper-b
                        div#line.line-b <?php the_field('c_section8_text'); ?>
                        label
                            button
                            a(href!="<?php the_field('c_section8_button_link'); ?>")
                                div.button.button-b <?php the_field('c_section8_button'); ?>
        include tmpl/_footer