@font-face
{
  font-family: 'Lato Regular';
  src: url(../fonts/Lato-Regular.woff2) format("woff2"),
  url(../fonts/Lato-Regular.woff) format("woff"),
  url(../fonts/Lato-Regular.ttf) format("ttf"),
  url(../fonts/Lato-Regular.svg) format("svg"),
  url(../fonts/Lato-Regular.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Real Regular';
  src: url(../fonts/Lato-Regular.woff2) format("woff2"),
  url(../fonts/Lato-Regular.woff) format("woff"),
  url(../fonts/Lato-Regular.ttf) format("ttf"),
  url(../fonts/Lato-Regular.svg) format("svg"),
  url(../fonts/Lato-Regular.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Regular Italic';
  src: url(../fonts/Lato-Italic.woff2) format("woff2"),
  url(../fonts/Lato-Italic.woff) format("woff"),
  url(../fonts/Lato-Italic.ttf) format("ttf"),
  url(../fonts/Lato-Italic.svg) format("svg"),
  url(../fonts/Lato-Italic.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Medium';
  src: url(../fonts/Lato-Medium.woff2) format("woff2"),
  url(../fonts/Lato-Medium.woff) format("woff"),
  url(../fonts/Lato-Medium.ttf) format("ttf"),
  url(../fonts/Lato-Medium.svg) format("svg"),
  url(../fonts/Lato-Medium.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Medium Italic';
  src: url(../fonts/Lato-MediumItalic.woff2) format("woff2"),
  url(../fonts/Lato-MediumItalic.woff) format("woff"),
  url(../fonts/Lato-MediumItalic.ttf) format("ttf"),
  url(../fonts/Lato-MediumItalic.svg) format("svg"),
  url(../fonts/Lato-MediumItalic.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Light';
  src: url(../fonts/Lato-Light.woff2) format("woff2"),
  url(../fonts/Lato-Light.woff) format("woff"),
  url(../fonts/Lato-Light.ttf) format("ttf"),
  url(../fonts/Lato-Light.svg) format("svg"),
  url(../fonts/Lato-Light.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Light Italic';
  src: url(../fonts/Lato-LightItalic.woff2) format("woff2"),
  url(../fonts/Lato-LightItalic.woff) format("woff"),
  url(../fonts/Lato-LightItalic.ttf) format("ttf"),
  url(../fonts/Lato-LightItalic.svg) format("svg"),
  url(../fonts/Lato-LightItalic.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Semibold';
  src: url(../fonts/Lato-Semibold.woff2) format("woff2"),
  url(../fonts/Lato-Semibold.woff) format("woff"),
  url(../fonts/Lato-Semibold.ttf) format("ttf"),
  url(../fonts/Lato-Semibold.svg) format("svg"),
  url(../fonts/Lato-Semibold.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Semibold Italic';
  src: url(../fonts/Lato-SemiboldItalic.woff2) format("woff2"),
  url(../fonts/Lato-SemiboldItalic.woff) format("woff"),
  url(../fonts/Lato-SemiboldItalic.ttf) format("ttf"),
  url(../fonts/Lato-SemiboldItalic.svg) format("svg"),
  url(../fonts/Lato-SemiboldItalic.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Bold';
  src: url(../fonts/Lato-Bold.woff2) format("woff2"),
  url(../fonts/Lato-Bold.woff) format("woff"),
  url(../fonts/Lato-Bold.ttf) format("ttf"),
  url(../fonts/Lato-Bold.svg) format("svg"),
  url(../fonts/Lato-Bold.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Bold Italic';
  src: url(../fonts/Lato-BoldItalic.woff2) format("woff2"),
  url(../fonts/Lato-BoldItalic.woff) format("woff"),
  url(../fonts/Lato-BoldItalic.ttf) format("ttf"),
  url(../fonts/Lato-BoldItalic.svg) format("svg"),
  url(../fonts/Lato-BoldItalic.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Black';
  src: url(../fonts/Lato-Black.woff2) format("woff2"),
  url(../fonts/Lato-Black.woff) format("woff"),
  url(../fonts/Lato-Black.ttf) format("ttf"),
  url(../fonts/Lato-Black.svg) format("svg"),
  url(../fonts/Lato-Black.eot) format("eot");
}

@font-face
{
  font-family: 'Lato Black Italic';
  src: url(../fonts/Lato-BlackItalic.woff2) format("woff2"),
    url(../fonts/Lato-BlackItalic.woff) format("woff"),
    url(../fonts/Lato-BlackItalic.ttf) format("ttf"),
    url(../fonts/Lato-BlackItalic.svg) format("svg"),
    url(../fonts/Lato-BlackItalic.eot) format("eot");
}