@import "partials/vars";

.headline2
{
  font-family: "Lato Regular" !important;
}

#terms
{
  p
  {
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.49;
    color: $dark;
    margin: 0;
  }
  br
  {
    line-height: 25px;
  }
  h4
  {
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    color: #08293f;
    margin-top: 28px;
    margin-bottom: 0px;
  }
}

#impressum, #terms {
  margin: 0 auto;
  max-width: 901px;
  padding-bottom: 69px;
}

.contacts {
  float: left;
  margin-right: 20px;
  width: 29%;
}
.impressum-h4 {
  font-family: 'Lato Medium Italic';
  letter-spacing: -0.25px;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  color: #08293f;
  margin-top: 28px;
  margin-bottom: 15px;
}
.contacts-p {
  font-family: 'Lato Medium';
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  color: $dark;
  margin: 0;
  &.p-marg {
    margin-top: 25px;
  }
}

.p-link {
  padding-top: 18px;
  padding-bottom: 20px;
}

.impressum {
  height: 433.9px;
  background: $dark;
  background-image: linear-gradient(269deg, rgba(19, 82, 114, 0), rgba(15, 67, 96, 0.36) 15%, rgba(18, 69, 96, 0.66) 24%, rgba(19, 69, 96, 0.9) 100%, #144661 36%, #08293f, #08293f)!important;}

  h3.stepsheadline
  {
    font-family: 'Lato Light';
  }
@media screen and (max-width: 992px) {
  #impressum, #terms {
    margin: 0 15px;
//    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    float: none;
    margin-right: 0;
    width: 100%;
    margin-bottom: 18px;
  }
}

#terms p
{
  font-family: 'Lato Medium';
}